.sendMessage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #24323E;
    width: 80vw;
    height: 80vh;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}


input{
    width: 70vw;
    height: 5vh;
    border-radius: 15px;
    margin-top: 3vh;
    border-style: none;
}

.submit{
    padding: 10px 30px 10px 30px;
    background-color: #DAFC01;
    border-radius: 10px;
    border-style: none;
    margin: 20px;
}