
.portfolio{
    flex-direction: column;
    padding: 100px;
    justify-content: center;
    height: fit-content;
    background-color: #18242E;
    height: fit-content;
    
}

.our-portfolio{
    color: white;
    font-size: 40px;
    text-align: start;
    font-family: 'Kanit', sans-serif;
    font-family: 'Outfit', sans-serif;
}



.portfolio-btns{
    display: flex;
    flex-wrap: wrap;
}



.portfolio-buttons{
    padding: 10px;
    background-color: #DAFC01;
    border-radius: 10px;
    border-style: none;
    margin: 10px;
}

.portfolioBtnActive{
    padding: 10px;
    background-color: transparent;
    border: 2px solid #DAFC01;
    border-radius: 10px;
    color: #DAFC01;
    /* border-style: none; */
    margin: 10px;
}

.portfolio-buttons:hover{
    cursor: pointer;
    /* background-color: #9eb50a; */
}
.portfolio-cards{
    display: grid;
    justify-content: center;
    gap: 40px;
    grid-template-columns: auto auto;
    flex-wrap: wrap;
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: 'Kanit', sans-serif;
    font-family: 'Outfit', sans-serif;
}

#portfolio-card-img{
    width: 350px;
}

@media screen and (max-width: 845px) {
    .portfolio{
        text-align: center;
        padding: 40px 0 40px 0;
    }
    .our-portfolio{
        color: white;
        font-size: 40px;
        text-align: center;
        font-family: 'Kanit', sans-serif;
        font-family: 'Outfit', sans-serif;
    }
    .portfolio-btns{
        justify-content: center;
        align-items: center;
        
    }
    .portfolio-cards{
        gap: 20px;
        font-size: 18px;
    }
    
    #portfolio-card-img{
        width: 150px;
    }
}